div.tooltip-inner {
    text-align: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 18px;
    /*max-width: 350px;*/
    width: 450px;
    padding: 15px;
}

.drop_area_outer {
    width: 45em;
    padding: 15px;
    border: 1px solid #333;
    background: rgba(0,0,0,0.7);
}
.drop_area_inner {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}
.drop_area_inner_selected {
    border: 4px solid blue;
}
