div.tooltip-inner {
    text-align: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 18px;
    /*max-width: 350px;*/
    width: 450px;
    padding: 15px;
}
