

<!-- <script>
  var bigValueSlider = document.getElementById('slider-huge'),
  bigValueSpan = document.getElementById('huge-value');

  noUiSlider.create(bigValueSlider, {
    start: 150,
    step: 1,
    format: wNumb({
      decimals: 0
    }),
    range: {
    'min': 0,
    'max': 0
    },
    pips: {
    		mode: 'values',
    		values: [5, 30, 150],
    		density: 25
    }
  });
</script> -->

<div class="row" style="padding-top:80px;">


  <!-- <div class="blah">
    <button type="button" ng-click="logOutStuff()" name="button">Test Image DataURL</button>
  </div> -->


  <form ng-submit="submit()">
    <div class="col-md-3">
      <!-- min-height: 100%; display: flex; align-items: center; justify-content: center; padding-top:80px; -->

      <div class="col-md-6 col-md-offset-3" style="margin:10px;">
        <span style="text-align:center;padding-left:10px;color:white;font-weight:100;font-size:40px;">Settings</span>
      </div>

      <div class="form-group col-md-12" style="background-color:rgba(0, 0, 0, 0.5);border-radius:8px;padding-top:8px;">
        <label for="mixed" style="color:#57C7C4;font-weight:100;font-size:27px;">
          Mixed Breed? <input type="checkbox" ng-model="mixed" id="mixed" name="mixed" ng-init="mixed=false">
        </label>
      </div>

      <div class="form-group col-md-12" style="background-color:rgba(0, 0, 0, 0.5);border-radius:8px;padding-top:8px;padding-bottom:17px;">
          <section style="display:block;">
            <label for="n_train_images" style="color:#57C7C4;font-weight:100;font-size:27px;">Train Images
            <a href="#" data-toggle="train" data-placement="right" title="The number of images used to train the weights in the neural network. 31,000 is a good number to test with!" style="color:#57C7C4;"><i class="glyphicon glyphicon-question-sign"></i></a>
            <script>
              $(function () {
                $('[data-toggle="train"]').tooltip();
                $('[data-toggle="epochs"]').tooltip();
                $('[data-toggle="augment"]').tooltip();
              })
            </script>
          </label>
          </section>
        <input type="text" ng-model="n_train_images" class="form-control" id="n_train_images" name="n_train_images">
      </div>


      <div class="form-group col-md-12" style="background-color:rgba(0, 0, 0, 0.5);border-radius:8px;padding-top:8px;padding-bottom:17px;">
        <section style="display:block;">
          <label for="n_epochs" style="color:#57C7C4;font-weight:100;font-size:27px;">Epochs
          <a href="#" data-toggle="epochs" data-placement="right" title="During the iterative training of the neural network, an Epoch is a single pass through the entire image training dataset. 150 is a good number to test this out!" style="color:#57C7C4;"><i class="glyphicon glyphicon-question-sign"></i></a>
          </label>
        </section>
        <input type="text" ng-model="n_epochs" class="form-control" id="n_epochs" name="n_epochs">
      </div>


      <div class="form-group col-md-12" style="background-color:rgba(0, 0, 0, 0.5);border-radius:8px;padding-top:8px;">
        <section style="display:block;">
          <label for="augment" style="color:#57C7C4;font-weight:100;font-size:27px;">Augment?
            <input type="checkbox" ng-model="augment" id="augment" name="augment" ng-init="augment=true" style="background-color:#57C7C4;">
              <a href="#" data-toggle="augment" data-placement="right" title="Adjusting images by slightly rotating,  zooming,  cropping, or mirror an images differently for every Epoch. Since the neural network never see the exact same image it helps prevent it from memorizing the training set. So leaving this checkbox checked, is a good idea!" style="color:#57C7C4;"><i class="glyphicon glyphicon-question-sign"></i></a>
          </label>
        </section>
      </div>


    </div>
    <div class="col-md-6">

        <div class="col-md-10 col-md-offset-1">
          <img src="assets/images/logo.png" style="margin-top:0;margin-bottom:30px;" />
        </div>

        <div id="dropzone" class="col-md-12 text-center" style="height: 200px; padding: 10px; border: 6px dashed #57C7C4; border-radius:25px; min-height: 100%; display: flex; align-items: center; justify-content: center; background-color:rgba(255, 255, 255, 0.5);">
          <span id="dropText" style="font-weight:100;font-size:40px;color:#222;">Drag &amp; Drop<br>Your Doggy Image Here</span>
        </div>

        <!-- <div class="form-group col-md-12"> -->
          <!-- <label for="image_buf" style="padding-top:35px;">Drag &amp; Drop Your Doggy Image Above</label> -->
          <input type="hidden" ng-model="image_buf" class="form-control" id="image_buf" name="image_buf">
          <!-- readonly
          angular.element(this).scope().change(this)
           ng-change="printme()" -->
        <!-- </div> -->

        <div class="form-group col-md-12 text-center" style="background-color:rgba(0, 0, 0, 0.5);border-radius:25px;padding-bottom:20px;margin-top:50px;padding-top:17px;">
          <label for="image_url" style="color:#57C7C4;font-weight:100;font-size:27px;">or<br>Paste Below an Image URL from the Web</label>
          <input type="text" ng-model="image_url" class="form-control" id="image_url" name="img_url">
        </div>


          <input type="hidden" ng-model="n_preds" name="n_preds">
        <input type="submit" class="btn btn-primary btn-lg col-lg-8 col-lg-offset-2" value="Run Breed Analysis" style="margin-top:40px; background-color:#57C7C4; border:none;">

    </div>
    <div class="col-md-3">
      <div class="col-md-6 col-md-offset-3" style="margin:10px;">
        <span style="color:white;text-align:center;padding-left:10px;">Samples</span>
      </div>
      <div class="col-md-12" style="margin:10px;">
        <img src="assets/images/sample1.jpg" class="img-rounded img-responsive" style="width:100px;height:100px;" />
      </div>
      <div class="col-md-12" style="margin:10px;">
        <img src="assets/images/sample2.jpg" class="img-rounded img-responsive" style="width:100px;height:100px;" />
      </div>
      <div class="col-md-12" style="margin:10px;">
        <img src="assets/images/sample3.jpg" class="img-rounded img-responsive" style="width:100px;height:100px;" />
      </div>
      <div class="col-md-12" style="margin:10px;">
        <img src="assets/images/sample4.png" class="img-rounded img-responsive" style="width:100px;height:100px;" />
      </div>
    </div>
  </form>
</div>





<div class="row">

  <div class="col-md-12" style="background-color:rgba(0, 0, 0, 0.5);border-radius:25px;padding:20px;margin:50px;color:white;">
    Description:<br><br><br><br><br><br><br><br>
  </div>

</div>
